<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Санаториум</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap&subset=cyrillic" rel="stylesheet">
    <!-- <link rel="icon" type="image/png" sizes="16x16" href="../img/favicon.png"> -->
    <link rel="stylesheet" href="../css/style.min.css">
    <link rel="stylesheet" href="../css/contact.min.css">
</head>

<body>

    <div class="popup">
    	<div class="popup-window popup-optimization">
    		<form>
    			<h2>УЗНАЙТЕ, КАК "САНАТОРИУМ" ОПТИМИЗИРУЕТ ВАШУ РАБОТУ</h2>
    			<div class="half-content">
    				<p>Запишитесь на бесплатную презентацию в Skype. Она займет не более часа.</p>
    			</div>
    			<div class="half-content half-input">
    				<input type="text" required="" placeholder="Введите Ваше имя" name="">
    				<input type="number" required="" placeholder="Введите Ваш телефон" name="">
    			</div>
    			<div class="checkbox">
    				<input type="checkbox" required="" id="chk2" data-jcf='{"checkedClass": "cheked", "wrapNative": false}'>
    				<label title="Checked state" for="chk2" class="jcf-label-active">Я подтверждаю свое согласие на обработку моих персональных данных. ознакомиться с соглашением</label>
    			</div>
    			<button>Записаться на консультацию</button>
    			<div class="close"></div>
    		</form>
    	</div>
  
    	<div  class="popup-window my_video">

				<iframe width="100%" height="500" src="https://www.youtube.com/embed/bhXZiG4bsjA?enablejsapi=1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

			<div class="close"></div>
    	</div>
    </div>

    <header>
    	<div class="container">
    		<a class="logo" href="javascript:void(0)"><img src="../img/logo.png" alt=""></a>
	        <nav>
                <ul>
                    <li class="dropdown-li">
                    	<a href="javascript:void(0)">О системе</a>
                    	<ul>
                    		<li><a href="javascript:void(0)">Подпункт</a></li>
                    		<li><a href="javascript:void(0)">Подпункт</a></li>
                    		<li><a href="javascript:void(0)">Подпункт</a></li>
                    		<li><a href="javascript:void(0)">Подпункт</a></li>
                    	</ul>
                    </li>
                    <li><a href="javascript:void(0)">Почитать</a></li>
                    <li><a href="javascript:void(0)">Для друзей</a></li>
                    <li><a href="javascript:void(0)">Клиенты</a></li>
                    <li><a href="javascript:void(0)">Компания</a></li>
                    <li class="dropdown-li">
                    	<a href="javascript:void(0)">Дополнительно</a>
                    	<ul>
                    		<li><a href="javascript:void(0)">Подпункт</a></li>
                    		<li><a href="javascript:void(0)">Подпункт</a></li>
                    		<li><a href="javascript:void(0)">Подпункт</a></li>
                    		<li><a href="javascript:void(0)">Подпункт</a></li>
                    	</ul>
                    </li>
                </ul>
            </nav>
            <ul class="header-contact">
            	<li><a href="tel:+38 (060) 849-39-43"><span class="tel"></span>+38 (060) 849-39-43</a></li>
            </ul>
	    </div>
    </header>

 	<section class="map">
 		<div class="container">
 			<div class="map-content">
 				<div class="map-contacts telephone">
 					<div class="half-content">
 						<h2>позвонить</h2>
 						<p>узнать больше о системе</p>
 						<div class="tel_open">
 							<span>8 800***</span>
 							<a class="tel" href="tel:8 800 888888">8 800 88888</a>
 							<a class="show" href="javascript:void(0)">показать</a>
 						</div>
 						
 						<a class="call_button" href="javascript:void()">Заказать звонок</a>
 					</div>
 					<div class="half-content">
 						<p>связаться с технической поддержкой</p>
 						<div class="tel_open">
 							<span>8 800***</span>
 							<a class="tel" href="tel:8 800 888888">8 800 88888</a>
 							<a class="show" href="javascript:void(0)">показать</a>
 						</div>
 						
 					</div>
 				</div>
 				<div class="map-contacts write">
 					<div class="half-content">
 						<h2>написать</h2>
 						<p>в мессенджер</p>
 						<div class="contact-icons">
 							<a href=""><img src="../img/skype.png"></a>
 							<a href=""><img src="../img/telegram.png"></a>
 							<a href=""><img src="../img/wasup.png"></a>
 							<a href=""><img src="../img/viber.png"></a>
 						</div>
 						<span>Отвечаем по рабочим дням с 10 до 19 (МСК)</span>
 					</div>
 					<div class="half-content">
 						<p>на почту</p>
 						<div class="contact-icons">
 							<a href=""><img src="../img/post.png"></a>
 						</div>
 						
 					</div>
 				</div>
 				<div class="map-contacts pike">
 					<h2>приехать в гости</h2>
 					<p>
 						<strong>Наш адрес:</strong>
	 					г. Москва, Ракетный бульвар, 16  
	 				</p>
 					<p>
 						<strong>Для корреспонденции (юридический адрес):</strong>
	 					125212, г. Москва, ш. Ленинградское, д. 22, эт. 1, пом. III, оф.13А
	 				</p>
 				</div>
 			</div>
 			<div class="details">
	 			<h2>узнать реквизиты</h2>
	 			<a class="knowmore" href="javascript:void(0)"></a>
	 			<div class="details-content">      
	 				<p><strong>Юр.адрес:</strong> 125212, г. Москва, ш.</p>
	 				<p>Ленинградское, д. 22, эт. 1, пом.</p>
	 				<p>III, оф.13А</p>
	 				<p><strong>ИНН:</strong> 7743790915</p>
	 				<p><strong>КПП:</strong> 774301001</p>
	 				<p><strong>ОГРН:</strong> 1107746688280</p>
	 				<p><strong>ОКПО:</strong> 68009780</p>
	 			</div>
	 		</div>
 		</div>

 		<div id="map" class="map-container"></div>
 	</section>
<style>
[class*="ymaps-2"][class*="-ground-pane"] {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    -webkit-filter: grayscale(100%);
}
</style>
    <footer>
        <div class="container">
        	<div class="logo-tel">
        		<a class="logo" href="javascript:void(0)"><img src="../img/logo.png" alt=""></a>
        		<ul class="footer-contact">
	            	<li><a href="tel:+38 (060) 849-39-43"><span class="tel"></span>+38 (060) 849-39-43</a></li>
	            </ul>
        	</div>
        	<nav>
                <ul>
                    <li class="dropdown-li">
                    	<a href="javascript:void(0)">О системе</a>
                    	<ul>
                    		<li><a href="javascript:void(0)">медецина</a></li>
                    		<li><a href="javascript:void(0)">размещение</a></li>
                    		<li><a href="javascript:void(0)">коммерция</a></li>
                    		<li><a href="javascript:void(0)">управление</a></li>
                    		<li><a href="javascript:void(0)">как оптимизировать издержки на установку</a></li>
                    		<li><a href="javascript:void(0)">как внедряем</a></li>
                    		<li><a href="javascript:void(0)">техподдержка</a></li>
                    		<li><a href="javascript:void(0)">интеграции</a></li>
                    		<li><a href="javascript:void(0)">стоимость</a></li>
                    	</ul>
                    </li>
                </ul>
                <ul>
                    <li><a href="javascript:void(0)">Для друзей</a></li>
                    <li><a href="javascript:void(0)">Клиенты</a></li>
                    <li><a href="javascript:void(0)">Наши клиенты</a></li>
                    <li><a href="javascript:void(0)">Портфолио</a></li>
                    <li><a href="javascript:void(0)">Компания</a></li>
                    <li><a href="javascript:void(0)">Команда</a></li>
                </ul>
                <ul>
                    <li><a href="javascript:void(0)">Карьера</a></li>
                    <li><a href="javascript:void(0)">Контакты</a></li>
                    <li><a href="javascript:void(0)">Дополнительно</a></li>
                    <li><a href="javascript:void(0)">FAQ</a></li>
                    <li><a href="javascript:void(0)">Связаться с руководством</a></li>
                    <li><a href="javascript:void(0)">Поиск по сайту</a></li>
                </ul>
            </nav>
        </div>
        <div class="all-rights">
        	<div class="container">
        		<ul>
        			<li>Все права защищены, 2020</li>
        			<li>Design by <a href="javascript:void(0)">Grom branding agency</a></li>
        		</ul>
        	</div>
        </div>	
    </footer>

    <script src="../js/jquery.min.js"></script>
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
    <script src="../js/contact.min.js"></script>

</body>

</html>