<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Санаториум</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap&subset=cyrillic" rel="stylesheet">
    <!-- <link rel="icon" type="image/png" sizes="16x16" href="../img/favicon.png"> -->
    <link rel="stylesheet" href="../css/slick.css">
  	<link rel="stylesheet" href="../css/slick-theme.css">
    <link rel="stylesheet" href="../css/style.min.css">
    <link rel="stylesheet" href="../css/home.min.css">
</head>

<body>

    <header>
    	<div class="container">
    		<a class="logo" href="javascript:void(0)"><img src="../img/logo.png" alt=""></a>
	        <nav>
                <ul>
                    <li class="dropdown-li">
                    	<a href="javascript:void(0)">О системе</a>
                    	<ul>
                    		<li><a href="javascript:void(0)">Подпункт</a></li>
                    		<li><a href="javascript:void(0)">Подпункт</a></li>
                    		<li><a href="javascript:void(0)">Подпункт</a></li>
                    		<li><a href="javascript:void(0)">Подпункт</a></li>
                    	</ul>
                    </li>
                    <li><a href="javascript:void(0)">Почитать</a></li>
                    <li><a href="javascript:void(0)">Для друзей</a></li>
                    <li><a href="javascript:void(0)">Клиенты</a></li>
                    <li><a href="javascript:void(0)">Компания</a></li>
                    <li class="dropdown-li">
                    	<a href="javascript:void(0)">Дополнительно</a>
                    	<ul>
                    		<li><a href="javascript:void(0)">Подпункт</a></li>
                    		<li><a href="javascript:void(0)">Подпункт</a></li>
                    		<li><a href="javascript:void(0)">Подпункт</a></li>
                    		<li><a href="javascript:void(0)">Подпункт</a></li>
                    	</ul>
                    </li>
                </ul>
            </nav>
            <ul class="header-contact">
            	<li><a href="tel:+38 (060) 849-39-43"><span class="tel"></span>+38 (060) 849-39-43</a></li>
            </ul>
	    </div>
    </header>

    <section class="banner">
    	<div class="container">
    		<h2>Автоматизация санаториев, реабилитационных центров и Medical SPA</h2>
        	<p>Увеличиваем загрузку номеров, выручку и средний чек</p>
        	<button><span>Заказать консультацию</span></button>

        	<div class="circle">
        		<span class="border"></span>
        		<span class="video1">
        			<span class="video2"></span>
        		</span>
        		<p>Санаториум за 75 секунд</p>
        	</div>
        	<div class="pulse"><img src="../img/pulse.png"></div>	
    	</div>
        
		<div class="banner-img" style="background: url('../img/first-blok.png') no-repeat 50% 50%; background-size: cover;background-position-y: -122px;"></div>
    </section>

    <section class="navigation">
    	
    	<div class="slider-navigation">
       		<nav>
       			<ul>
       				<li><a href="javascript:void(0)">Отпуск процедур</a></li>
       				<li><a href="javascript:void(0)">Электронная история болезни</a></li>
       				<li><a href="javascript:void(0)">Регистрация гостей</a></li>	
       				<li><a href="javascript:void(0)">Автозаполнение документов</a></li>
       				<li><a href="javascript:void(0)">Мотивация персонала</a></li>
       				<li><a href="javascript:void(0)">Управление продажами</a></li>
       				<li><a href="javascript:void(0)">Мобильное приложение</a></li>
       				<li><a href="javascript:void(0)">Мотивация персонала</a></li>
       				<li><a href="javascript:void(0)">Управление продажами</a></li>
       				<li><a href="javascript:void(0)">Мобильное приложение</a></li>
       				<li><a href="javascript:void(0)">Мобильное приложение</a></li>
       			</ul>
       		</nav>
       </div>

    </section>

    <section class="opportunities">
   		
   		<div class="container">
   			<h3>Возможности системы</h3>

   			<div class="opportunities-tables">
   				<div class="table">
   					<div class="table-content medical">
   						<div class="table-top">
   							<h2>Медицина</h2>
		   					<p>
		   						«Санаториум» разработали с участием ведущих медиков «Управления делами Президента РФ».
		   					</p>
		   					<p> 
		   						Здесь все удобно и нет лишних кнопок — на рабочем столе только нужные функции конкретного пользователя. <strong>Дружественный интерфейс</strong> позволяет за несколько минут внести в систему все данные и уделить больше времени пациенту.
		   					</p>
		   					<ul>
		   						<li>Электронные истории болезни</li>
		   						<li>Диспетчеризация назначений</li>
		   						<li>Отпуск процедур с планшета</li>
		   					</ul>
   						</div>
	   					<a class="opportunities-button" href="javascript:void(0)">Узнать подробнее</a>
	   				</div>
   				</div>
   				<div class="table">
   					<div class="table-content money">
   						<div class="table-top">
		   					<h2>Коммерция</h2>
		   					<p>
		   						Улучшаем экономические показатели и уро-
								вень сервиса. 
								Средний срок окупаемости системы — 
							</p>
							<p>
								<strong>6-9 месяцев.</strong> 
								Анализируйте поведение и угадывайте желания ваших клиентов, выделяйте самые выгодные услуги и стройте прогнозы на основе актуальных данных.
							</p>
		   					<ul>
		   						<li>Мобильное приложение для гостей</li>
		   						<li>Глубокая интеграция с системами  размещения</li>
		   						<li>Программа лояльности</li>
		   					</ul>
		   				</div>
	   					<a class="opportunities-button" href="javascript:void(0)">Узнать подробнее</a>
	   				</div>
   				</div>
   				<div class="table">
   					<div class="table-content location">
   						<div class="table-top">
		   					<h2>Коммерция</h2>
		   					<p>Улучшаем экономические показатели и уро-
								вень сервиса. 
								Средний срок окупаемости системы — 
								<strong>6-9 месяцев.</strong> 
								Анализируйте поведение и угадывайте желания ваших клиентов, выделяйте самые выгодные услуги и стройте прогнозы на основе актуальных данных.
							</p>
		   					<ul>
		   						<li>Мобильное приложение для гостей</li>
		   						<li>Глубокая интеграция с системами  размещения</li>
		   						<li>Программа лояльности</li>
		   					</ul>
		   				</div>
	   					<a class="opportunities-button" href="javascript:void(0)">Узнать подробнее</a>
	   				</div>
   				</div>
   				<div class="table">
   					<div class="table-content manage">
   						<div class="table-top">
		   					<h2>Коммерция</h2>
		   					<p>
		   						Улучшаем экономические показатели и уро-
								вень сервиса. 
								Средний срок окупаемости системы — 
							</p>
							<p>
								<strong>6-9 месяцев.</strong> 
								Анализируйте поведение и угадывайте желания ваших клиентов, выделяйте самые выгодные услуги и стройте прогнозы на основе актуальных данных.
							</p>
		   					<ul>
		   						<li>Мобильное приложение для гостей</li>
		   						<li>Глубокая интеграция с системами  размещения</li>
		   						<li>Программа лояльности</li>
		   					</ul>
		   				</div>
	   					<a class="opportunities-button" href="javascript:void(0)">Узнать подробнее</a>
	   				</div>
   				</div>
   			</div>

   			<div class="costs">
   				<div class="costs-top">
   					<h3>Как оптимизировать издержки на установку?</h3>
   					<a class="costs-more" href="javascript:void(0)">УЗНАТЬ</a>
   				</div>
   				<div class="costs-content">
   					<p>
   					Не обязательно тратить большие деньги на покупку системы. Вы можете использовать ее на условиях аренды, что значительно снизит капитальные затраты. Вы можете попробовать сервис в работе и решить, использовать его далее или нет. Все заботы об обновлении, надежности и работоспособности мы берем на себя.
   					</p> 
   					<p>
   					На первом этапе Вы платите за внедрение системы и обучение персонала, а затем вносите плату за каждую созданную историю болезни. В дальнейшем систему можно выкупить полностью. Мы предлагаем гибкие условия оплаты, можем рассмотреть поэтапную оплату или рассрочку.
   					</p>
   				</div>
   				
   			</div>
   		</div>

    </section>

    <section class="introduce">

    	<div class="container">
    		<div class="content-introduce">
    			<h2>Хотите внедрить систему в своем санатории?</h2>
    			<p>Поможем с обоснованием для вашего руководства.</p>
    			<a class="introduce-button" href="javascript:void(0)">Рассчитать стоимость и сроки окупаемости</a>
    			<div class="introduce-note" style="background: url(../img/med-note.png)no-repeat 50% 50%;">
    				
    			</div>
    		</div>
    	</div>
    	
    </section>

    <section class="automation">
        

    </section>

    <section class="blog">
        

    </section>

    <section class="benefit">
        

    </section>

    <section class="discover">
        

    </section>

    <footer>
        <div class="container">
        	<div class="logo-tel">
        		<a class="logo" href="javascript:void(0)"><img src="../img/logo.png" alt=""></a>
        		<ul class="footer-contact">
	            	<li><a href="tel:+38 (060) 849-39-43"><span class="tel"></span>+38 (060) 849-39-43</a></li>
	            </ul>
        	</div>
        	<nav>
                <ul>
                    <li class="dropdown-li">
                    	<a href="javascript:void(0)">О системе</a>
                    	<ul>
                    		<li><a href="javascript:void(0)">медецина</a></li>
                    		<li><a href="javascript:void(0)">размещение</a></li>
                    		<li><a href="javascript:void(0)">коммерция</a></li>
                    		<li><a href="javascript:void(0)">управление</a></li>
                    		<li><a href="javascript:void(0)">как оптимизировать издержки на установку</a></li>
                    		<li><a href="javascript:void(0)">как внедряем</a></li>
                    		<li><a href="javascript:void(0)">техподдержка</a></li>
                    		<li><a href="javascript:void(0)">интеграции</a></li>
                    		<li><a href="javascript:void(0)">стоимость</a></li>
                    	</ul>
                    </li>
                </ul>
                <ul>
                    <li><a href="javascript:void(0)">Для друзей</a></li>
                    <li><a href="javascript:void(0)">Клиенты</a></li>
                    <li><a href="javascript:void(0)">Наши клиенты</a></li>
                    <li><a href="javascript:void(0)">Портфолио</a></li>
                    <li><a href="javascript:void(0)">Компания</a></li>
                    <li><a href="javascript:void(0)">Команда</a></li>
                </ul>
                <ul>
                    <li><a href="javascript:void(0)">Карьера</a></li>
                    <li><a href="javascript:void(0)">Контакты</a></li>
                    <li><a href="javascript:void(0)">Дополнительно</a></li>
                    <li><a href="javascript:void(0)">FAQ</a></li>
                    <li><a href="javascript:void(0)">Связаться с руководством</a></li>
                    <li><a href="javascript:void(0)">Поиск по сайту</a></li>
                </ul>
            </nav>
        </div>
        <div class="all-rights">
        	<div class="container">
        		<ul>
        			<li>Все права защищены, 2020</li>
        			<li>Design by <a href="javascript:void(0)">Grom branding agency</a></li>
        		</ul>
        	</div>
        </div>	
    </footer>

    <script src="../js/jquery.min.js"></script>
    <script src="../js/slick.js"></script>
    <script src="../js/script.min.js"></script>
    <script src="../js/home.min.js"></script>

</body>

</html>