<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Санаториум</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap&subset=cyrillic" rel="stylesheet">
    <!-- <link rel="icon" type="image/png" sizes="16x16" href="../img/favicon.png"> -->
    <link rel="stylesheet" href="../css/slick.css">
  	<link rel="stylesheet" href="../css/slick-theme.css">
    <link rel="stylesheet" href="../css/style.min.css">
    <link rel="stylesheet" href="../css/home.min.css">
</head>

<body>

    <div class="popup">
    	<div class="popup-window popup-optimization">
    		<form>
    			<h2>УЗНАЙТЕ, КАК "САНАТОРИУМ" ОПТИМИЗИРУЕТ ВАШУ РАБОТУ</h2>
    			<div class="half-content">
    				<p>Запишитесь на бесплатную презентацию в Skype. Она займет не более часа.</p>
    			</div>
    			<div class="half-content half-input">
    				<input type="text" required="" placeholder="Введите Ваше имя" name="">
    				<input type="number" required="" placeholder="Введите Ваш телефон" name="">
    			</div>
    			<div class="checkbox">
    				<input type="checkbox" required="" id="chk2" data-jcf='{"checkedClass": "cheked", "wrapNative": false}'>
    				<label title="Checked state" for="chk2" class="jcf-label-active">Я подтверждаю свое согласие на обработку моих персональных данных. ознакомиться с соглашением</label>
    			</div>
    			<button>Записаться на консультацию</button>
    			<div class="close"></div>
    		</form>
    	</div>
  
    	<div  class="popup-window my_video">

				<iframe width="100%" height="500" src="https://www.youtube.com/embed/bhXZiG4bsjA?enablejsapi=1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

			<div class="close"></div>
    	</div>
    </div>

    <header>
    	<div class="container">
    		<a class="logo" href="javascript:void(0)"><img src="../img/logo.png" alt=""></a>
	        <nav>
                <ul>
                    <li class="dropdown-li">
                    	<a href="javascript:void(0)">О системе</a>
                    	<ul>
                    		<li><a href="javascript:void(0)">Подпункт</a></li>
                    		<li><a href="javascript:void(0)">Подпункт</a></li>
                    		<li><a href="javascript:void(0)">Подпункт</a></li>
                    		<li><a href="javascript:void(0)">Подпункт</a></li>
                    	</ul>
                    </li>
                    <li><a href="javascript:void(0)">Почитать</a></li>
                    <li><a href="javascript:void(0)">Для друзей</a></li>
                    <li><a href="javascript:void(0)">Клиенты</a></li>
                    <li><a href="javascript:void(0)">Компания</a></li>
                    <li class="dropdown-li">
                    	<a href="javascript:void(0)">Дополнительно</a>
                    	<ul>
                    		<li><a href="javascript:void(0)">Подпункт</a></li>
                    		<li><a href="javascript:void(0)">Подпункт</a></li>
                    		<li><a href="javascript:void(0)">Подпункт</a></li>
                    		<li><a href="javascript:void(0)">Подпункт</a></li>
                    	</ul>
                    </li>
                </ul>
            </nav>
            <ul class="header-contact">
            	<li><a href="tel:+38 (060) 849-39-43"><span class="tel"></span>+38 (060) 849-39-43</a></li>
            </ul>
	    </div>
    </header>

    <section class="banner">
    	<div class="container">
    		<h2>Автоматизация санаториев, реабилитационных центров и Medical SPA</h2>
        	<p>Увеличиваем загрузку номеров, выручку и средний чек</p>
        	<button><span>Заказать консультацию</span></button>

        	<div class="circle">
        		<span class="border"></span>
        		<span class="video1">
        			<span class="video2 popup-open" data-popup="my_video"></span>
        		</span>
        		<p>Санаториум за 75 секунд</p>
        	</div>
        	<div class="pulse"><img src="../img/pulse.png"></div>	
    	</div>
        
		<div class="banner-img" style="background: url('../img/first-blok.png') no-repeat 50% 50%; background-size: 100% 100% ;"></div>
		<div class="paralax-element1"></div>
		<div class="paralax-element2"></div>
		<div class="paralax-element3"></div>
		<div class="paralax-second"></div>
    </section>

    <section class="navigation">
    	
    	<div class="slider-navigation">
       		<nav>
       			<ul>
       				<li><a href="javascript:void(0)">Отпуск процедур</a></li>
       				<li><a href="javascript:void(0)">Электронная история болезни</a></li>
       				<li><a href="javascript:void(0)">Регистрация гостей</a></li>	
       				<li><a href="javascript:void(0)">Автозаполнение документов</a></li>
       				<li><a href="javascript:void(0)">Мотивация персонала</a></li>
       				<li><a href="javascript:void(0)">Управление продажами</a></li>
       				<li><a href="javascript:void(0)">Мобильное приложение</a></li>
       				<li><a href="javascript:void(0)">Мотивация персонала</a></li>
       				<li><a href="javascript:void(0)">Управление продажами</a></li>
       				<li><a href="javascript:void(0)">Мобильное приложение</a></li>
       				<li><a href="javascript:void(0)">Мобильное приложение</a></li>
       			</ul>
       		</nav>
       </div>

    </section>

    <section class="opportunities">
   		
   		<div class="container">
   			<h3>Возможности системы</h3>

   			<div class="opportunities-tables">
   				<div class="table">
   					<div class="table-content medical">
   						<div class="table-top">
   							<h2>Медицина</h2>
		   					<p>
		   						«Санаториум» разработали с участием ведущих медиков «Управления делами Президента РФ».
		   					</p>
		   					<p> 
		   						Здесь все удобно и нет лишних кнопок — на рабочем столе только нужные функции конкретного пользователя. <strong>Дружественный интерфейс</strong> позволяет за несколько минут внести в систему все данные и уделить больше времени пациенту.
		   					</p>
		   					<ul>
		   						<li>Электронные истории болезни</li>
		   						<li>Диспетчеризация назначений</li>
		   						<li>Отпуск процедур с планшета</li>
		   					</ul>
   						</div>
	   					<a class="opportunities-button" href="javascript:void(0)">Узнать подробнее</a>
	   				</div>
   				</div>
   				<div class="table">
   					<div class="table-content money">
   						<div class="table-top">
		   					<h2>Коммерция</h2>
		   					<p>
		   						Улучшаем экономические показатели и уро-
								вень сервиса. 
								Средний срок окупаемости системы — 
							</p>
							<p>
								<strong>6-9 месяцев.</strong> 
								Анализируйте поведение и угадывайте желания ваших клиентов, выделяйте самые выгодные услуги и стройте прогнозы на основе актуальных данных.
							</p>
		   					<ul>
		   						<li>Мобильное приложение для гостей</li>
		   						<li>Глубокая интеграция с системами  размещения</li>
		   						<li>Программа лояльности</li>
		   					</ul>
		   				</div>
	   					<a class="opportunities-button" href="javascript:void(0)">Узнать подробнее</a>
	   				</div>
   				</div>
   				<div class="table">
   					<div class="table-content location">
   						<div class="table-top">
		   					<h2>Коммерция</h2>
		   					<p>Улучшаем экономические показатели и уро-
								вень сервиса. 
								Средний срок окупаемости системы — 
								<strong>6-9 месяцев.</strong> 
								Анализируйте поведение и угадывайте желания ваших клиентов, выделяйте самые выгодные услуги и стройте прогнозы на основе актуальных данных.
							</p>
		   					<ul>
		   						<li>Мобильное приложение для гостей</li>
		   						<li>Глубокая интеграция с системами  размещения</li>
		   						<li>Программа лояльности</li>
		   					</ul>
		   				</div>
	   					<a class="opportunities-button" href="javascript:void(0)">Узнать подробнее</a>
	   				</div>
   				</div>
   				<div class="table">
   					<div class="table-content manage">
   						<div class="table-top">
		   					<h2>Коммерция</h2>
		   					<p>
		   						Улучшаем экономические показатели и уро-
								вень сервиса. 
								Средний срок окупаемости системы — 
							</p>
							<p>
								<strong>6-9 месяцев.</strong> 
								Анализируйте поведение и угадывайте желания ваших клиентов, выделяйте самые выгодные услуги и стройте прогнозы на основе актуальных данных.
							</p>
		   					<ul>
		   						<li>Мобильное приложение для гостей</li>
		   						<li>Глубокая интеграция с системами  размещения</li>
		   						<li>Программа лояльности</li>
		   					</ul>
		   				</div>
	   					<a class="opportunities-button" href="javascript:void(0)">Узнать подробнее</a>
	   				</div>
   				</div>
   			</div>

   			<div class="costs">
   				<div class="costs-top">
   					<h3>Как оптимизировать издержки на установку?</h3>
   					<a class="costs-more" href="javascript:void(0)">УЗНАТЬ</a>
   				</div>
   				<div class="costs-content">
   					<p>
   					Не обязательно тратить большие деньги на покупку системы. Вы можете использовать ее на условиях аренды, что значительно снизит капитальные затраты. Вы можете попробовать сервис в работе и решить, использовать его далее или нет. Все заботы об обновлении, надежности и работоспособности мы берем на себя.
   					</p> 
   					<p>
   					На первом этапе Вы платите за внедрение системы и обучение персонала, а затем вносите плату за каждую созданную историю болезни. В дальнейшем систему можно выкупить полностью. Мы предлагаем гибкие условия оплаты, можем рассмотреть поэтапную оплату или рассрочку.
   					</p>
   				</div>
   				
   			</div>
   		</div>
   		<div class="paralax-element4"></div>
    </section>

    <section class="introduce">

    	<div class="container">
    		<div class="content-introduce">
    			<h2>Хотите внедрить систему в своем санатории?</h2>
    			<p>Поможем с обоснованием для вашего руководства.</p>
    			<a class="introduce-button popup-open" data-popup="popup-optimization" href="javascript:void(0)">Рассчитать стоимость и сроки окупаемости</a>
    			<div class="introduce-note" style="background: url(../img/med-note.png)no-repeat 50% 50%;">
    				
    			</div>
    		</div>
    	</div>
    	<div class="paralax-element1"></div>
    	<div class="paralax-element2"></div>
    	<div class="paralax-element3"></div>
    </section>

    <section class="automation">
        
      	<div class="container-automation">	
        	<h2>Автоматизация от брони до отчетности</h2>
        </div>
        <div class="automation-tabs">
        	<div class="container-automation">
        		<div class="tabs" data-index='1'>
        			<ul>
        				<li><a class="active" href="javascript:void(0)" data-index='1'><img src="../img/tab1.png"></a></li>
        				<li><a href="javascript:void(0)" data-index='2'><img src="../img/tab2.png"></a></li>
        				<li><a href="javascript:void(0)" data-index='3'><img src="../img/tab3.png"></a></li>
        				<li><a href="javascript:void(0)" data-index='4'><img src="../img/tab4.png"></a></li>
        				<li><a href="javascript:void(0)" data-index='5'><img src="../img/tab5.png"></a></li>
        				<li><a href="javascript:void(0)" data-index='6'><img src="../img/tab6.png"></a></li>
        				<li><a href="javascript:void(0)" data-index='7'><img src="../img/tab7.png"></a></li>
        				<li><a href="javascript:void(0)" data-index='8'><img src="../img/tab8.png"></a></li>
        			</ul>
        			<div class="buttons" data-index='1'>
        				<a class="btn btn-prev" href="javascript:void(0)"></a>
        				<a class="btn btn-next active" href="javascript:void(0)"></a>
        			</div>
        			<div class="tab-content">
        				<div id="tab-1" class="tab-content_tab active" style="background-image: url('../img/ilustration1.svg')">
        					<div class="tab-cloud">
        						<h3>Self Check-in</h3>
        						<p>
        							 Самостоятельная регистрация из дома: выбор номера на 3D-визуализации, знакомство с территорией и расположением корпусов. Платные опции для дополнительной прибыли: трансфер, повышение категории, дополнительные медицинские услуги, доступ в СПА-зону (бассейн/сауна), тренажерный зал, питание, аренда оборудования (велосипеды, ролики), выбор времени прихода горничной, меню, подушек, заказ экскурсий.
        						</p>
        					</div>
        				</div>
        				<div id="tab-2" class="tab-content_tab" style="background-image: url('../img/ilustration2.svg')">
        					<div class="tab-cloud">
        						<h3>Self Check-in</h3>
        						<p>
        							 Самостоятельная регистрация из дома: выбор номера на 3D-визуализации, знакомство с территорией и расположением корпусов. Платные опции для дополнительной прибыли: трансфер, повышение категории, дополнительные медицинские услуги, доступ в СПА-зону (бассейн/сауна), тренажерный зал, питание, аренда оборудования (велосипеды, ролики), выбор времени прихода горничной, меню, подушек, заказ экскурсий.
        						</p>
        					</div>
        				</div>
        				<div id="tab-3" class="tab-content_tab" style="background-image: url('../img/ilustration3.svg')">
        					<div class="tab-cloud">
        						<h3>Self Check-in</h3>
        						<p>
        							 Самостоятельная регистрация из дома: выбор номера на 3D-визуализации, знакомство с территорией и расположением корпусов. Платные опции для дополнительной прибыли: трансфер, повышение категории, дополнительные медицинские услуги, доступ в СПА-зону (бассейн/сауна), тренажерный зал, питание, аренда оборудования (велосипеды, ролики), выбор времени прихода горничной, меню, подушек, заказ экскурсий.
        						</p>
        					</div>
        				</div>
        				<div id="tab-4" class="tab-content_tab" style="background-image: url('../img/ilustration4.svg')">
        					<div class="tab-cloud">
        						<h3>Self Check-in</h3>
        						<p>
        							 Самостоятельная регистрация из дома: выбор номера на 3D-визуализации, знакомство с территорией и расположением корпусов. Платные опции для дополнительной прибыли: трансфер, повышение категории, дополнительные медицинские услуги, доступ в СПА-зону (бассейн/сауна), тренажерный зал, питание, аренда оборудования (велосипеды, ролики), выбор времени прихода горничной, меню, подушек, заказ экскурсий.
        						</p>
        					</div>
        				</div>
        				<div id="tab-5" class="tab-content_tab" style="background-image: url('../img/ilustration1.svg')">
        					<div class="tab-cloud">
        						<h3>Self Check-in</h3>
        						<p>
        							 Самостоятельная регистрация из дома: выбор номера на 3D-визуализации, знакомство с территорией и расположением корпусов. Платные опции для дополнительной прибыли: трансфер, повышение категории, дополнительные медицинские услуги, доступ в СПА-зону (бассейн/сауна), тренажерный зал, питание, аренда оборудования (велосипеды, ролики), выбор времени прихода горничной, меню, подушек, заказ экскурсий.
        						</p>
        					</div>
        				</div>
        				<div id="tab-6" class="tab-content_tab" style="background-image: url('../img/ilustration2.svg')">
        					<div class="tab-cloud">
        						<h3>Self Check-in</h3>
        						<p>
        							 Самостоятельная регистрация из дома: выбор номера на 3D-визуализации, знакомство с территорией и расположением корпусов. Платные опции для дополнительной прибыли: трансфер, повышение категории, дополнительные медицинские услуги, доступ в СПА-зону (бассейн/сауна), тренажерный зал, питание, аренда оборудования (велосипеды, ролики), выбор времени прихода горничной, меню, подушек, заказ экскурсий.
        						</p>
        					</div>
        				</div>
        				<div id="tab-7" class="tab-content_tab" style="background-image: url('../img/ilustration3.svg')">
        					<div class="tab-cloud">
        						<h3>Self Check-in</h3>
        						<p>
        							 Самостоятельная регистрация из дома: выбор номера на 3D-визуализации, знакомство с территорией и расположением корпусов. Платные опции для дополнительной прибыли: трансфер, повышение категории, дополнительные медицинские услуги, доступ в СПА-зону (бассейн/сауна), тренажерный зал, питание, аренда оборудования (велосипеды, ролики), выбор времени прихода горничной, меню, подушек, заказ экскурсий.
        						</p>
        					</div>
        				</div>
        				<div id="tab-8" class="tab-content_tab" style="background-image: url('../img/ilustration4.svg')">
        					<div class="tab-cloud">
        						<h3>Self Check-in</h3>
        						<p>
        							 Самостоятельная регистрация из дома: выбор номера на 3D-визуализации, знакомство с территорией и расположением корпусов. Платные опции для дополнительной прибыли: трансфер, повышение категории, дополнительные медицинские услуги, доступ в СПА-зону (бассейн/сауна), тренажерный зал, питание, аренда оборудования (велосипеды, ролики), выбор времени прихода горничной, меню, подушек, заказ экскурсий.
        						</p>
        					</div>
        				</div>
        			</div>
        		</div>
        	</div>	
        	 <div class="paralax-element2"></div>
    		<div class="paralax-element4"></div>
        </div>
        <div class="rating">
        	<div class="rating-container">
        		<h2>Оцените <img src="../img/logo2.png"> в действии</h2>
        		<p>
        			Запишитесь на бесплатную презентацию в Skype. Займет не более часа.
        		</p>
        		<a class="btn-sign_up" href="javascript:void(0)">Записаться</a>
        		<div class="check-pic" style="background-image: url(../img/check.svg);"></div>
        	</div>
        	
        </div>
        

    </section>

    <section class="blog">
        
        <div class="container">
        	<h2>Блог «Санаториум»</h2>
        	<nav class="heading">
        		<ul>
	        		<li><a href="javascript:void(0)">#директору</a></li>
	        		<li><a href="javascript:void(0)">#маркетологу</a></li>
	        		<li><a href="javascript:void(0)">#врачу</a></li>
	        	</ul>
        	</nav>
        	<div class="news">
        		<div class="new-table">
        			<div class="new">
        				<div class="picture" style="background: url('../img/blog1.png')no-repeat;background-size: cover;">
        					<h2>Заголовок новости 1</h2>
        				</div>
        				<div class="content">
        					<p>
        						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed porta diam semper, tempus ligula eget, pharetra nibh.
        					</p>
        				</div>
        				<a class="bth more" href="javascript:void(0)">ПОДРОБНЕЕ</a>
        			</div>
        		</div>
        		<div class="new-table">
        			<div class="new">
        				<div class="picture" style="background: url('../img/blog1.png')no-repeat;background-size: cover;">
        					<h2>Заголовок новости 1</h2>
        				</div>
        				<div class="content">
        					<p>
        						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed porta diam semper, tempus ligula eget, pharetra nibh.
        					</p>
        				</div>
        				<a class="bth more" href="javascript:void(0)">ПОДРОБНЕЕ</a>
        			</div>
        		</div>
        		<div class="new-table">
        			<div class="new">
        				<div class="picture" style="background: url('../img/blog1.png')no-repeat;background-size: cover;">
        					<h2>Заголовок новости 1</h2>
        				</div>
        				<div class="content">
        					<p>
        						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed porta diam semper, tempus ligula eget, pharetra nibh.
        					</p>
        				</div>
        				<a class="bth more" href="javascript:void(0)">ПОДРОБНЕЕ</a>
        			</div>
        		</div>
        		<div class="new-table">
        			<div class="new">
        				<div class="picture" style="background: url('../img/blog1.png')no-repeat;background-size: cover;">
        					<h2>Заголовок новости 1</h2>
        				</div>
        				<div class="content">
        					<p>
        						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed porta diam semper, tempus ligula eget, pharetra nibh.
        					</p>
        				</div>
        				<a class="bth more" href="javascript:void(0)">ПОДРОБНЕЕ</a>
        			</div>
        		</div>
        		<div class="new-table">
        			<div class="new">
        				<div class="picture" style="background: url('../img/blog1.png')no-repeat;background-size: cover;">
        					<h2>Заголовок новости 1</h2>
        				</div>
        				<div class="content">
        					<p>
        						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed porta diam semper, tempus ligula eget, pharetra nibh.
        					</p>
        				</div>
        				<a class="bth more" href="javascript:void(0)">ПОДРОБНЕЕ</a>
        			</div>
        		</div>
        		<div class="new-table">
        			<div class="new">
        				<div class="picture" style="background: url('../img/blog1.png')no-repeat;background-size: cover;">
        					<h2>Заголовок новости 1</h2>
        				</div>
        				<div class="content">
        					<p>
        						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed porta diam semper, tempus ligula eget, pharetra nibh.
        						asdasdasd
        					</p>
        				</div>
        				<a class="bth more" href="javascript:void(0)">ПОДРОБНЕЕ</a>
        			</div>
        		</div>
        	</div>
        	<a class="show_more" href="javascript:void(0)">Показать ещё</a>
        </div>

    </section>

    <section class="benefit">
        
        <div class="container">
        	<h2>Приносим пользу клиентам из СНГ и Европы</h2>
        	<ul>
        		<li>7 стран</li>
        		<li>137 объектов</li>
        	</ul>
        </div>
        <div class="benefit-reviews">
        	<h2>Результаты «Санаториум» в цифрах:</h2>
        	<div class="reviews">
        		<div class="review">
        			<div class="rewiev-width">
        				
        			</div>
        		</div>
        		<div class="review">
        			<div class="rewiev-content rewiev-width">
        				<div class="img" style="background: url(../img/review.png)no-repeat 50% 50%;"></div>
        				<div class="name">
        					<h2>Иванов Иван Иванович</h2>
        					<span class="position">Директор санатория</span>
        				</div>
        				<div class="rewiev-text">
        					<p>
	        					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed porta diam semper, tempus ligula eget, pharetra nibh. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed porta diam semper, tempus ligula eget, pharetra nibh.
	        				</p>
	        				<p> 
	        					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed porta diam semper, tempus ligula eget, pharetra nibh. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed porta diam semper, tempus ligula eget, pharetra nibh.
	        				</p>
        				</div>
        				
        				<a class="btn more" href="javascript:void(0)">ПОДРОБНЕЕ</a>
        			</div>
        		</div>
        		<div class="review">
        			<div class="rewiev-content rewiev-width">
        				<div class="img" style="background: url(../img/review.png)no-repeat 50% 50%;"></div>
        				<div class="name">
        					<h2>Иванов Иван Иванович</h2>
        					<span class="position">Директор санатория</span>
        				</div>
        				<div class="rewiev-text">
        					<p>
	        					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed porta diam semper, tempus ligula eget, pharetra nibh. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed porta diam semper, tempus ligula eget, pharetra nibh.
	        				</p>
	        				<p> 
	        					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed porta diam semper, tempus ligula eget, pharetra nibh. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed porta diam semper, tempus ligula eget, pharetra nibh.
	        				</p>
        				</div>
        				<a class="btn more" href="javascript:void(0)">ПОДРОБНЕЕ</a>
        			</div>
        		</div>
        		<div class="review">
        			<div class="rewiev-content rewiev-width">
        				<div class="img" style="background: url(../img/review.png)no-repeat 50% 50%;"></div>
        				<div class="name">
        					<h2>Иванов Иван Иванович</h2>
        					<span class="position">Директор санатория</span>
        				</div>
        				<div class="rewiev-text">
        					<p>
	        					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed porta diam semper, tempus ligula eget, pharetra nibh. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed porta diam semper, tempus ligula eget, pharetra nibh.
	        				</p>
	        				<p> 
	        					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed porta diam semper, tempus ligula eget, pharetra nibh. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed porta diam semper, tempus ligula eget, pharetra nibh.
	        				</p>
        				</div>
        				<a class="btn more" href="javascript:void(0)">ПОДРОБНЕЕ</a>
        			</div>
        		</div>
        		<div class="review">
        			<div class="rewiev-content rewiev-width">
        				<div class="img" style="background: url(../img/review.png)no-repeat 50% 50%;"></div>
        				<div class="name">
        					<h2>Иванов Иван Иванович</h2>
        					<span class="position">Директор санатория</span>
        				</div>
        				<div class="rewiev-text">
        					<p>
	        					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed porta diam semper, tempus ligula eget, pharetra nibh. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed porta diam semper, tempus ligula eget, pharetra nibh.
	        				</p>
	        				<p> 
	        					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed porta diam semper, tempus ligula eget, pharetra nibh. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed porta diam semper, tempus ligula eget, pharetra nibh.
	        				</p>
        				</div>
        				<a class="btn more" href="javascript:void(0)">ПОДРОБНЕЕ</a>
        			</div>
        		</div>
        		<div class="review">
        			<div class="rewiev-content rewiev-width">
        				<div class="img" style="background: url(../img/review.png)no-repeat 50% 50%;"></div>
        				<div class="name">
        					<h2>Иванов Иван Иванович</h2>
        					<span class="position">Директор санатория</span>
        				</div>
        				<div class="rewiev-text">
        					<p>
	        					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed porta diam semper, tempus ligula eget, pharetra nibh. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed porta diam semper, tempus ligula eget, pharetra nibh.
	        				</p>
	        				<p> 
	        					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed porta diam semper, tempus ligula eget, pharetra nibh. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed porta diam semper, tempus ligula eget, pharetra nibh.
	        				</p>
        				</div>
        				<a class="btn more" href="javascript:void(0)">ПОДРОБНЕЕ</a>
        			</div>
        		</div>
        		<div class="review">
        			<div class="rewiev-content rewiev-width">
        				<div class="img" style="background: url(../img/review.png)no-repeat 50% 50%;"></div>
        				<div class="name">
        					<h2>Иванов Иван Иванович</h2>
        					<span class="position">Директор санатория</span>
        				</div>
        				<div class="rewiev-text">
        					<p>
	        					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed porta diam semper, tempus ligula eget, pharetra nibh. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed porta diam semper, tempus ligula eget, pharetra nibh.
	        				</p>
	        				<p> 
	        					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed porta diam semper, tempus ligula eget, pharetra nibh. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed porta diam semper, tempus ligula eget, pharetra nibh.
	        				</p>
        				</div>
        				<a class="btn more" href="javascript:void(0)">ПОДРОБНЕЕ</a>
        			</div>
        		</div>
        	</div>
        	<div class="paralax-element1"></div>
    		<div class="paralax-element2"></div>
        </div>
    </section>

    <section class="discover">
        
        <div class="discover-content">
        	<div class="know">
        		<p>
        			<strong>Узнать</strong> сколько будет стоить проект
        		</p>
        	</div>
        	<div class="ask">
        		<p>Как окупить автоматизацию за 1 сезон</p>
        		<a class="btn more more_discover" href="javascript:void(0)">ПОДРОБНЕЕ</a>
        	</div>
        </div>
        <div class="paralax-element6"></div>
    </section>

    <footer>
        <div class="container">
        	<div class="logo-tel">
        		<a class="logo" href="javascript:void(0)"><img src="../img/logo.png" alt=""></a>
        		<ul class="footer-contact">
	            	<li><a href="tel:+38 (060) 849-39-43"><span class="tel"></span>+38 (060) 849-39-43</a></li>
	            </ul>
        	</div>
        	<nav>
                <ul>
                    <li class="dropdown-li">
                    	<a href="javascript:void(0)">О системе</a>
                    	<ul>
                    		<li><a href="javascript:void(0)">медецина</a></li>
                    		<li><a href="javascript:void(0)">размещение</a></li>
                    		<li><a href="javascript:void(0)">коммерция</a></li>
                    		<li><a href="javascript:void(0)">управление</a></li>
                    		<li><a href="javascript:void(0)">как оптимизировать издержки на установку</a></li>
                    		<li><a href="javascript:void(0)">как внедряем</a></li>
                    		<li><a href="javascript:void(0)">техподдержка</a></li>
                    		<li><a href="javascript:void(0)">интеграции</a></li>
                    		<li><a href="javascript:void(0)">стоимость</a></li>
                    	</ul>
                    </li>
                </ul>
                <ul>
                    <li><a href="javascript:void(0)">Для друзей</a></li>
                    <li><a href="javascript:void(0)">Клиенты</a></li>
                    <li><a href="javascript:void(0)">Наши клиенты</a></li>
                    <li><a href="javascript:void(0)">Портфолио</a></li>
                    <li><a href="javascript:void(0)">Компания</a></li>
                    <li><a href="javascript:void(0)">Команда</a></li>
                </ul>
                <ul>
                    <li><a href="javascript:void(0)">Карьера</a></li>
                    <li><a href="javascript:void(0)">Контакты</a></li>
                    <li><a href="javascript:void(0)">Дополнительно</a></li>
                    <li><a href="javascript:void(0)">FAQ</a></li>
                    <li><a href="javascript:void(0)">Связаться с руководством</a></li>
                    <li><a href="javascript:void(0)">Поиск по сайту</a></li>
                </ul>
            </nav>
        </div>
        <div class="all-rights">
        	<div class="container">
        		<ul>
        			<li>Все права защищены, 2020</li>
        			<li>Design by <a href="javascript:void(0)">Grom branding agency</a></li>
        		</ul>
        	</div>
        </div>	
    </footer>

    <script src="../js/jquery.min.js"></script>
    <script src="../js/slick.js"></script>
    <script src="../js/jcf.min.js"></script>
    <script src="../js/jcf.checkbox.min.js"></script>
    <script src="../js/home.min.js"></script>

</body>

</html>